.App {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    'h h'
    'n c';
  grid-template-rows: 55px 1fr;
  grid-template-columns: 2 fr 10fr;
}

.AppBack {
  background: linear-gradient(#ebebeb, #3aab49 45%);
}
.App-content {
  grid-area: c;
  background-color: rgb(232, 240, 231);
}
